@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;


///* SCSS HEX */
//$imperial-red: #e63946ff;
//$honeydew: #f1faeeff;
//$powder-blue: #a8dadcff;
//$celadon-blue: #457b9dff;
//$prussian-blue: #1d3557ff;
//
///* SCSS Gradient */
//$gradient-top: linear-gradient(0deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//$gradient-right: linear-gradient(90deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//$gradient-bottom: linear-gradient(180deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//$gradient-left: linear-gradient(270deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//$gradient-top-right: linear-gradient(45deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//$gradient-bottom-right: linear-gradient(135deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//$gradient-top-left: linear-gradient(225deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//$gradient-bottom-left: linear-gradient(315deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//$gradient-radial: radial-gradient(#e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
//
//$color1: $imperial-red;
//$color2: $honeydew;
//$color3: $powder-blue;
//$color4: $celadon-blue;
//$color5: $prussian-blue;
//
///* SCSS HEX */
//$ming: #006d77ff;
//$middle-blue-green: #83c5beff;
//$alice-blue: #edf6f9ff;
//$unbleached-silk: #ffddd2ff;
//$dark-salmon: #e29578ff;
//
///* SCSS Gradient */
//$gradient-top: linear-gradient(0deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
//$gradient-right: linear-gradient(90deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
//$gradient-bottom: linear-gradient(180deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
//$gradient-left: linear-gradient(270deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
//$gradient-top-right: linear-gradient(45deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
//$gradient-bottom-right: linear-gradient(135deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
//$gradient-top-left: linear-gradient(225deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
//$gradient-bottom-left: linear-gradient(315deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
//$gradient-radial: radial-gradient(#006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);


/* SCSS HEX */
$glossy-grape: #9c89b8ff;
$kobi: #f0a6caff;
$pink-lavender: #efc3e6ff;
$lavender-blush: #f0e6efff;
$periwinkle-crayola: #b8beddff;

$color1: $glossy-grape;
$color2: $kobi;
$color3: $pink-lavender;
$color4: $lavender-blush;
$color5: $periwinkle-crayola;

//Colour Pallete
$primary: $color1;
$primary-dark: $color1;
$primary-light: $color2;
$light: $color3;
$primary-invert: $color4;
$success: $color5;


// Font Families
$family-sans-serif: 'Roboto', sans-serif;
$family-primary: 'Righteous', cursive;
$family-secondary: 'Roboto', sans-serif;
//$family-code: ;

.hero {
  background: $primary-light;
}
.footer {
  background: $primary-invert;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400;700&display=swap');
// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-timeline/src/sass/index.sass";
