@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;


/* SCSS HEX */
$imperial-red: #e63946ff;
$honeydew: #f1faeeff;
$powder-blue: #a8dadcff;
$celadon-blue: #457b9dff;
$prussian-blue: #1d3557ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-right: linear-gradient(90deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-bottom: linear-gradient(180deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-left: linear-gradient(270deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-top-right: linear-gradient(45deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-bottom-right: linear-gradient(135deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-top-left: linear-gradient(225deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-bottom-left: linear-gradient(315deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-radial: radial-gradient(#e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);

$color1: $imperial-red;
$color2: $honeydew;
$color3: $powder-blue;
$color4: $celadon-blue;
$color5: $prussian-blue;

//Color pallete
$primary: $color3;
$primary-dark: $color5;
$primary-light: $color2;
$light: $color2;
$primary-invert: $color5;
$success: $color5;

// Font Families
$family-sans-serif: 'Roboto', sans-serif;
$family-primary: 'Righteous', cursive;
$family-secondary: 'Roboto', sans-serif;
//$family-code: ;

.top-nav {
  .level {
    .level-left {
      .logo {
        color: $primary-dark;
        font-size: 3.5rem;
      }
    }
    a {
      color: $primary-invert;
    }
    .button {
      color: $primary-light;
    }
  }
}




@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400;700&display=swap');
// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";
